:root {
	--main-color: #5D5FEF;
	--main-color-light: #9899FF;
	--secondary-color: #D66C6C;
	--color-gray: #838383;
}

* {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: #F0F0FF;
}

/******************/
/* Navigation bar */
/******************/
.navbar {
	background: var(--main-color);
	width: 100%;
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
}

.navbar .navbar-start {
	float: left;
}

.navbar .navbar-end {
	float: right;
}

.navbar .navbar-end input {
	margin: 5px 5px;
	width: 250px;
}


/**********/
/* Titles */
/**********/

.page-title{
	font-size: 25pt;
	text-align: center;
	color: var(--main-color);
	margin: 20px;
}

/***********/
/* Buttons */
/***********/
.button-main {
	height: 40px;
	padding: 0px 15px;
	border: none;
	background-color: var(--main-color);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.button-outline-main {
	height: 40px;
	padding: 0px 15px;
	border: 2px solid var(--main-color);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: var(--main-color);
	cursor: pointer;
}

.button-outline-main:hover {
	border: 2px solid var(--main-color-light);
	color: var(--main-color-light);
}

.button-outline-secondary {
	height: 40px;
	padding: 0px 15px;
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: var(--secondary-color);
	cursor: pointer;
}
