.loginBox{
	font-weight: bold;
	background-color: #FFF;
	color: var(--color-gray);
	width: 400px;
	margin:auto;
	padding:40px;
	margin-top: 50px; 
}

h1{
	font-size: 24px;
	text-align: center;
}

button{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding: 10px 0px 10px 0px;
	color: #FFF;
	background-color: var(--main-color);
	border-radius: 5px;
}

span{
	font-size:14px;
}

.right{
	float: right;
}

.left{
	float: left;
}
