.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.cardContainer img {
    width: 250px;
    height: 250px;
    margin: 4px;
}

.cardContainer p {
    width: 250px;
    text-align: right;
	color: var(--color-gray);
}

.cardContainer h2 {
	font-size: 1em;
	font-weight: bold;
    text-align: center;
}

.cardContainer button {
    background-color: white;
    color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 8px;
    padding: 4px;
	margin-top: 10px;
    cursor: pointer;
}

.cardContainer button:hover {
    background-color: #f8f8f8;
}

.cardTitle {
	margin-bottom: 10px;
}

.cardPriceContainer {
	margin-top: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(254, 254, 254, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
