
.productDetailsContainer .productDetailsBox {
	max-width: 1200px;
	margin: auto;
	margin-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 10px;
    gap: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #888, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #888, 5px 5px 15px 5px rgba(0,0,0,0);
}

.productDetailsContainer .productDetailsBox .productImg {
    height: 300px;
    background-color: lightgray;
}

.productDetailsContainer .productDetailsBox .productData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;
}

.productDetailsContainer .productDetailsBox .productData .productName, .productDescription {
    text-align: center;
}

.productDetailsContainer .productDetailsBox .productData .productName {
    font-size: 1.5rem;
}

.productDetailsContainer .productDetailsBox .productData .productPrice {
    text-align: center;
    font-size: 1.375rem;
}

.productDetailsContainer .productDetailsBox .productData .productButton {
	width: 150px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.productDetailsContainer .productDetailsBox .productData .productButton:hover {
    background-color: var(--main-color-light);
}

.productDetailsContainer .productDetailsBox .productData .productButton:disabled {
    background-color: #c0c0c0;
    cursor: default;
}

.productDetailsContainer .productDetailsBox .productData .productButton:disabled:hover {
    background-color: #c0c0c0;
}
